mixin siteheader(publicationsBlockClassName)
    .l-siteheader
        header.siteheader
            .container-fluid
                .burgermenu
                    span.burgermenu-menubar
                    span.burgermenu-menubar
                    span.burgermenu-menubar
                a(href="#0" class="siteheader-logo")
                    img(src="images/logo.png" alt="الأرشيف")
                .pull-right.l-siteheader-search
                    .siteheader-search
                        input(type="text" placeholder="أكتب كلمة البحث" class="siteheader--control")
                        select.siteheader--control
                            option كل الأرشيف
                            option كل الأرشيف
                            option كل الأرشيف
                    button(type="button" class="btn siteheader-searchbtn")
                        svg.icon
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons.svg#icon-search")
                    a(href="#0" class="siteheader-searchtxt") بحث متقدم

                .pull-left.l-siteheader-links
                    div(class= publicationsBlockClassName)
                        span المنشورات
                        strong 801834
                    a(href="#0" class="siteheader-links")
                        svg.icon
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons.svg#icon-groups")
                        span كل الحسابات
                    button(type="button" class="siteheader-links" data-toggle="modal" data-target="#loginDialog")
                        svg.icon
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons.svg#icon-user")
                        span تسجيل الدخول