.pageHeader{
    margin-bottom: 30px;
    @extend .clearfix;
}
.pageHeader-title{
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-base;
    line-height: 1;
    &.pageHeader--ask{
    	color: $askClr;
    }
    &.pageHeader--facebook{
    	color: $facebookClr;
    }
    &.pageHeader--twitter{
    	color: $twitterClr;
    }
    &.pageHeader--fav{
        color: $favClr;
    }
}

// .pageHeader .u-pull-left{
//     @include breakpoint(isMobile){
//         width: 100%;
//     }
//     .form-group{
//         @include breakpoint(isMobile){
//             width: 50%;
//             float: $right;
//         }   
//         +.form-group{
//             @include breakpoint(isMobile){
//                 padding-#{$right}: 10px;
//             }
//         }
//     }
// }

@include breakpoint(isMobile){
    .pageHeader .u-pull-left{
        width: 100%;
        margin-top: 20px;
    }
    .form-group{
        width: 50%;
        float: $right;
        +.form-group{
            padding-#{$right}: 10px;
        }
    }
    .form-group:last-child{
        float: $left;
        width: auto;
    }
    label{ 
        float: $right;
        padding-#{$left}: 10px;
        +.form-control{
            float: $right;
            width: auto;
        }
    }

}