@font-face {
    font-family: 'droidsansarabic';
    src: url('#{$font-path}/droidsansarabic.eot');
    src: url('#{$font-path}/droidsansarabic.eot') format('embedded-opentype'),
		 url('#{$font-path}/droidsansarabic.woff') format('woff'),
		 url('#{$font-path}/droidsansarabic.ttf') format('truetype'),
		 url('#{$font-path}/droidsansarabic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}