footer.sitefooter
    .text-center
        nav.sitefooter-nav
            li.siterfooter--link
                a(href="#0") عن الأرشيف
            li.siterfooter--link
                a(href="#0") حقوق الإستخدام
            li.siterfooter--link
                a(href="#0") سياسة الموقع
            li.siterfooter--link
                a(href="#0") تواصل معنا
            li.siterfooter--link
                a(href="#0") رشّح حساب للإضافة
            li.siterfooter--link
                a(href="#0") رأيك يهمنا
            li.siterfooter--link
                a(href="#0") الاسئلة الشائعة
            li.siterfooter--link
                a(href="#0") الحسابات المضافة
        p.sitefooter-copyright جميع الحقوق محفوظة للموقع الأرشيف. 2017