doctype 5
include mixins/siteheader.pug
include mixins/sidenav.pug
include mixins/main.pug
html(lang="en")

    head
        include modules/meta.pug
        include modules/styles.pug
        title الأرشيف

    body
        +siteheader('siteheader-publications siteheader-publications--fav')
        .container-fluid
            .row
                +sidenav('', '', '', '', 'sidenav-active')
                .l-pagecontent
                    +main('الحسابات المفضلة','pageHeader--fav', 'card-fav')
                    include modules/footer.pug
        include modules/modal.pug
        include modules/scripts.pug